name: Test Release

on:
  push:
    branches:
    - main
  pull_request:
    branches:
    - main

jobs:
  build-linux:
    name: Linux build
    runs-on: ubuntu-latest
    steps:
      - name: Get tag
        run: echo "RELEASE_VERSION=${GITHUB_REF#refs/*/}" >> $GITHUB_ENV
        shell: bash
      - uses: actions/checkout@v3
      - name: Setup Go
        uses: actions/setup-go@v3
        with:
          go-version: '1.21.x'
      - name: Install dependencies
        run: |
          sudo apt-get update -y
          sudo apt-get install -y libgl1-mesa-dev xorg-dev
          go get ./...
      - name: Build
        run: GOOS=linux GOARCH=amd64 CGO_ENABLED=1 go build .
      - name: Compress binaries
        run: |
          tar -czf tiny-world.tar.gz tiny-world
        shell: bash
      - name: Archive artifacts
        uses: actions/upload-artifact@v4
        with:
          name: tiny-world-linux-amd64.tar.gz
          path: tiny-world.tar.gz

  build-windows:
    name: Windows build
    runs-on: ubuntu-latest
    steps:
      - name: Get tag
        run: echo "RELEASE_VERSION=${GITHUB_REF#refs/*/}" >> $GITHUB_ENV
        shell: bash
      - uses: actions/checkout@v3
      - name: Setup Go
        uses: actions/setup-go@v3
        with:
          go-version: '1.21.x'
      - name: Install dependencies
        run: go get ./...
      - name: Build
        run: GOOS=windows GOARCH=amd64 CGO_ENABLED=1 go build .
      - name: Compress binaries
        run: |
          tar -czf tiny-world.tar.gz tiny-world.exe
        shell: bash
      - name: Archive artifacts
        uses: actions/upload-artifact@v4
        with:
          name: tiny-world-windows-amd64.tar.gz
          path: tiny-world.tar.gz

  build-macos-arm64:
    name: MacOS arm64 build
    runs-on: macos-latest
    steps:
      - name: Get tag
        run: echo "RELEASE_VERSION=${GITHUB_REF#refs/*/}" >> $GITHUB_ENV
        shell: bash
      - uses: actions/checkout@v3
      - name: Setup Go
        uses: actions/setup-go@v3
        with:
          go-version: '1.21.x'
      - name: Build
        run: GOOS=darwin GOARCH=arm64 CGO_ENABLED=1 go build .
      - name: Compress binaries
        run: |
          tar -czf tiny-world.tar.gz tiny-world
        shell: bash
      - name: Archive artifacts
        uses: actions/upload-artifact@v4
        with:
          name: tiny-world-macos-arm64.tar.gz
          path: tiny-world.tar.gz

  build-macos-amd64:
    name: MacOS amd64 build
    runs-on: macos-latest
    steps:
      - name: Get tag
        run: echo "RELEASE_VERSION=${GITHUB_REF#refs/*/}" >> $GITHUB_ENV
        shell: bash
      - uses: actions/checkout@v3
      - name: Setup Go
        uses: actions/setup-go@v3
        with:
          go-version: '1.21.x'
      - name: Build
        run: GOOS=darwin GOARCH=amd64 CGO_ENABLED=1 go build .
      - name: Compress binaries
        run: |
          tar -czf tiny-world.tar.gz tiny-world
        shell: bash
      - name: Archive artifacts
        uses: actions/upload-artifact@v4
        with:
          name: tiny-world-macos-amd64.tar.gz
          path: tiny-world.tar.gz
